<script type="text/javascript">
	$('#logo').hide();
</script>

<div id="index-quote">
	<h4>“閒置衣物是女人衣櫥最大的敵人”</h4>
	<small>by R. LaBerrari</small>
</div>

<section id="welcome-message">
	<h1 id="index-title">OUTFIT HUNT</h1>
	<h2>發現衣服更多實用穿法</h2>
	<h5>現在免費試用</h5>
</section>

<section class="email-area">
  <%= form_for @asker do |f| %>
    <section class="input-area">
      <div class="email-bar">
        <div class="icon-person"><%= image_tag image_url('icon-person.png')%></div>
        <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
      </div>
      <p class="small text-right">*請輸入email啟動試用</p>
    </section>
    <div class="action">
      <%= f.submit "立刻免費試用", class: "start btn btn-next"%>
    </div>
  <% end %>
</section>

<%= render partial: '/icon' %>
