<%= render partial: 'photos/step' %>

<header>
	<h3>最後</h3>
	<h4>專屬妳的十種穿搭建議要寄到…</h4>
</header>

<%= form_for [@photo, @asker] do |f| %>
	<section class="option-area center">
		<div class="photo ">
			<%= image_tag @photo.img.url(:medium), height: "100px" %>
			<%= hidden_field_tag :photo, @photo.id %>
		</div>
		<div class="option">
			<%= f.email_field :email, autofocus: true, placeholder: " E-mail", class: "form-control" %>
		</div>
	</section>
	<div class="action">
	  <div class="btn btn-disable">下一步</div>
	  <%= f.submit "下一步", class: "btn btn-next", style: "display: none"%>
	  <br>
	  <p style="margin-top: 10px">
      <%= link_to "我們保證不會寄給你垃圾信", policy_path, target: "_blank", class: "small", style:"color: #ccc;" %>
    </p>
</div>
<% end %>
<script>
	$('.step2').removeClass('step-off').addClass('step-on')
	$('.step3').removeClass('step-off').addClass('step-on')

	$('.option input').keypress(function(event) {
		if ($('#asker_email').val().indexOf("@") != -1 ){
			$('.btn-disable').hide();
	    $('.btn-next').show();
			console.log("get email");
		} else if (event.which == 13) {
			$(".step-icons").removeClass("hidden").addClass('flex');
			$('.btn-disable').hide();
	    $('.btn-next').show();
		} else if ($('#asker_email').val().indexOf("@") == -1){
			$('.btn-disable').show();
	    $('.btn-next').hide();
			console.log("not finish input");
		} ;
	}); 



</script>