<div style="background-color: #fff; width: 100%; position: fixed; top:30px; left:0; ">
	<h2>上傳者一覽</h2>

<%= text_field_tag :note %>
	<%= submit_tag "create note" %>
	<%= submit_tag "Delete", data: {comfirm: "Are you sure? "} %>
</div>



<%= form_tag bulk_update_admin_askers_path do %>
	<div class="table-responsive" style="overflow-x: visible;">
		<table class="table table-condensed table-bordered">
			<tr>
				<td></td>
				<td>#</td>
				<td>名稱</td>
				<td>上傳數</td>
				<td>照片</td>
				<td>來源</td>
			</tr>
			<% @askers.each do |asker| %>
				<tr>
					<td><%= check_box_tag "ids[]", asker.id, false %>
					<td><%= asker.id %></td>
					<td><%= asker.email %></td>
					<td class="text-center"><%= asker.ask_count %></td>
					<td>
						<% asker.photos.each do |photo| %>
							<%= image_tag photo.img(:thumb) %>
						<% end %>
					</td>
					<td><%= asker.note %></td>
				</tr>
			<% end %>
		</table>
	</div>


<% end %>
<br><br><br><br>