<%= render partial: 'step' %>

<header>
  <h3>這件衣服是⋯⋯</h3>
  <h4>為了提供妳合適的搭法，<br>請讓我們知道這件衣服樣子</h4>
</header>


<%= form_for [@asker, @photo] do |f| %>
	<div class="center">
		<div class="img-show center" style="display: none">
			<img id="thumbnil" src="" alt="image"/>
		</div>

		<div class="upload-area">
			<%= render partial: 'form_errors', locals: { :f => f } %>
      <div class="fileUpload btn btn-next">
        <%= f.file_field :img, accept: "image/*", capture:"camera", onchange: "showMyImage(this)", class: "upload" %>
        <span>上傳照片</span>
      </div>
		</div>

	</div>

  <%= render partial: 'action', locals: { f: f} %>
<% end %>

