
<header>
  <h3>這件衣服是⋯⋯</h3>
  <h4>為了提供妳合適的搭法，請讓我們知道這件衣服樣子</h4>
</header>
<%= render partial: 'step' %>


<%= form_for @photo do |f| %>
	<div class="center">
		<div class="img-show" style="display: none">
			<img id="thumbnil" width="300px" src="" alt="image"/>
		</div>

		<div class="upload-area">
			<%= render partial: 'form_errors', locals: { :f => f } %>
      <div class="fileUpload btn btn-next">
        <span>上傳照片</span>
        <%= f.file_field :img, accept: "image/*",  onchange: "showMyImage(this)", class: "upload" %>
      </div>
		</div>
		
	</div>

  <%= render partial: 'action', locals: { f: f} %>
<% end %>

<script>
	function showMyImage(fileInput) {
    var files = fileInput.files;
    for (var i = 0; i < files.length; i++) {           
        var file = files[i];
        var imageType = /image.*/;     
        if (!file.type.match(imageType)) {
            continue;
        }           
        var img=document.getElementById("thumbnil");            
        img.file = file;    
        var reader = new FileReader();
        reader.onload = (function(aImg) { 
            return function(e) { 
                aImg.src = e.target.result; 
            }; 
        })(img);
        reader.readAsDataURL(file);
    }    

    console.log("ddd");
    $('.img-show').toggle('show');
    $('.upload-area').toggle('hidden');
    $('.btn-disable').toggle('hidden');
    $('.btn-next').toggle('show');
    $('.cancel').toggle('show');
  }
</script>
