<!DOCTYPE html>
<html>
  <head>
    <title>Outfit Hunt: Admins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <div class="pull-right">
      <% if current_admin %>
        <%= current_admin.name %>｜
        <%= link_to("登出", destroy_admin_session_path, :method => :delete) %>｜
        <%= link_to('修改密碼', edit_admin_registration_path(current_admin)) %>
      <% end %>  
    </div>
    <nav class="clearfix">
      <ul class="list-inline pull-left">
        <li><%= link_to "上傳照片一覽", admin_photos_path %></li>
        <li><%= link_to "上傳者一覽", admin_askers_path %></li>
        <li><%= link_to "Admins", admin_admins_path %></li>
      </ul>
    </nav>
    <hr>
    
    <!-- 全站資訊 -->
    <div class="site_info">
      <ul class="site_info_list list-unstyled">
        <li>總照片：<%= Photo.all.count %></li>
        <li>總人數：<%= Asker.all.count %></li>
      </ul>
    </div>

    <!-- 警告訊息 -->
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]%>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]%>
      </div>
    <% end %>



    <%= yield %>
  </body>
</html>
