<!DOCTYPE html>
<html>
  <head>
    <title>HuntLook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    	body {
				background: none;
        padding: 15px;
			}
    </style>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <nav>
      <ul class="list-inline">
        <li><%= link_to "上傳照片一覽", admin_photos_path %></li>
        <li><%= link_to "上傳者一覽", admin_askers_path %></li>
      </ul>
      <hr>
    </nav>

    <%= yield %>
  </body>
</html>
