<!DOCTYPE html>
<html>
  <head>
    <title>HuntLook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-5G452Z');
		</script>
		<!-- End Google Tag Manager -->
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G452Z" height="0" width="0" style="display:none;visibility:hidden">
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<!-- nav -->
		<nav>
			<%= link_to "OUTFIT HUNT", :root, id: "logo" %>
			<%= link_to "關於我們", about_path, id:"about", class: "btn btn-warning btn-xs pull-right" %>
		</nav>

	  <!-- 警告訊息 -->
	  <% if flash[:notice].present? %>
	    <div class="alert alert-success" role="alert">
	      <%= flash[:notice]%>
	    </div>
	  <% elsif flash[:alert].present? %>
	    <div class="alert alert-danger" role="alert">
	      <%= flash[:alert]%>
	    </div>
	  <% end %>
		
		<div class="container center">
			<div id="main">
		    <%= yield %>
  		</div>
		</div>


  </body>
</html>
