<!DOCTYPE html>
<html>
  <head>
    <title>HuntLook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">

	  <!-- 警告訊息 -->
	  <% if flash[:notice].present? %>
	    <div class="alert alert-success" role="alert">
	      <%= flash[:notice]%>
	    </div>
	  <% elsif flash[:alert].present? %>
	    <div class="alert alert-danger" role="alert">
	      <%= flash[:alert]%>
	    </div>
	  <% end %>
		
		<div class="container center">
			<div id="main">
		    <%= yield %>
  		</div>
		</div>
		
  </body>
</html>
