<!DOCTYPE html>
<html>
  <head>
    <title>OUTFIT HUNT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="Outfit Hunt">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.outfithunt.club/">
		<meta property="og:image" content="https://scontent.ftpe6-1.fna.fbcdn.net/t31.0-8/11227785_176672692783427_8788170869160760310_o.jpg"> 
		<meta property="og:description" content="快來試搭你的第一件衣服吧">
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-85483434-1', 'auto');
		  ga('send', 'pageview');

		</script>

    <!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-5G452Z');
		</script>
		<!-- End Google Tag Manager -->



		

		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');

		fbq('init', '1080174628769877');
		fbq('track', "PageView");</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1080174628769877&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5G452Z" height="0" width="0" style="display:none;visibility:hidden">
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<!-- nav -->
		<nav>
			<%= link_to "OUTFIT HUNT", :root, id: "logo" %>
			<p id="about" class="about btn btn-warning">關於我們</p>
			
		</nav>

	  <!-- 警告訊息 -->
	  <% if flash[:notice].present? %>
	    <div class="alert alert-success" role="alert">
	      <%= flash[:notice]%>
	    </div>
	  <% elsif flash[:alert].present? %>
	    <div class="alert alert-danger" role="alert">
	      <%= flash[:alert]%>
	    </div>
	  <% end %>
		
		<div class="container">
			<div id="main">
		    <%= yield %>
  		</div>
		</div>

		<div class="about_modal text-left hidden">
			<a class="cancel_btn btn">×</a>
			<div class="about_panel">
				<h4>【關於outfit hunt】</h4>
				outfit hunt是一個讓妳用現有衣服找穿搭的實用APP，如果妳有一件／很多件不知該怎麼搭配的衣服，outfit hunt透過精準的服裝掃描分析技術搭配最流行、最潮的穿搭達人組合，將會幫妳解決不知該搭什麼的煩腦，用現有的衣服就能讓穿搭天天都不無聊。
				
			</div>
		</div>

		<script>
			$('#about').click(function(){
		    $('.about_modal').removeClass('hidden');
				console.log("open about");
		  });

		  $('.cancel_btn').click(function(){
		  	$('.about_modal').addClass('hidden');
				console.log("close about");
		  });

		</script>

  </body>
</html>
