<!DOCTYPE html>
<html>
  <head>
    <title>Outfit Hunt: Admins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    	body {
				background: none;
        padding: 15px;
        color: #333;
			}

      #sign_in_area {
        width: 50vw;
      }
    </style>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">

    <!-- 警告訊息 -->
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice]%>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert]%>
      </div>
    <% end %>
    
    <div id="sign_in_area">
      <%= yield %>
    </div>
  </body>
</html>
